{{ if .Params.testimonials.items }}
<div class="bg-light clear pb-5  mb-5" id="merken">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-9 h-center text-center pt-5 ">
                {{ if .Params.testimonials.title }}
                    <h2 class="display-5">{{ .Params.testimonials.title }} </h2>
                {{ end }}
                {{ if .Params.testimonials.content }}
                    <p>{{ .Params.testimonials.content }}</p>
                {{ end }}
            </div>
        </div>
        <div class="row pt-4">
            {{ range $index, $element :=  .Params.testimonials.items }}
            <div class="col-md-4 d-flex flex-column justify-content-between align-items-start">
                {{ if .image }}
                <img src="{{ .image }}" class="mb-4 rounded-circle" alt="{{ .title }}">
                {{ end }}
                <div class="mb-2">
                    {{ if .title }}
                        <h3 class="h5">{{ .title }}</h3>
                    {{ end }}
                    {{ if .content }}
                        <p class="small italic"><em>"{{ .content }}"</em></p>
                    {{ end }}
                    {{ if .from }}
                    <p class="small">
                        <strong>{{ .from }}</strong>
                    </p>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}