body {
    overflow-x: hidden;
}


    html {
      font-size: .85rem;
    }

  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1rem;
    }
  }

.overlay-gray {
    background-color: rgba(38, 60, 100, 0.4);
    align-items: flex-end;
    overflow: hidden;
    min-height: 600px;
    padding-bottom: 4rem;
    padding-top: 11rem !important;
    @include media-breakpoint-up(sm) {
        align-items: center;
        padding-top: 8rem !important;
    }
    @include media-breakpoint-up(md) {
        align-items: center;
        padding-top: 6rem !important;
        min-height: 800px;
    }
}

.hidden {
    display: none;
    height: 0;
    width: 0;
}

.text-right {
    text-align: left !important;
    @include media-breakpoint-up(md) {
        text-align: right !important;
    }
}

.navbar-brand {
    max-width: 150px;
}

.hero-image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: right top;
    position: absolute;
    display: block;
    overflow: hidden;
    img,
    source {
        width: 100vw;
        height: 100%;
        object-fit: cover;
        object-position: right top;
        position: absolute;
        display: block;
    }
}

img {
    max-width: 100%;
}

.navbar {
    overflow: hidden;
    @include media-breakpoint-down(sm) {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

.display-4 {
    @include media-breakpoint-down(md) {
        font-size: 2.5rem;
    }
}

.bg-green {
    background-color: $green;
}

.circle {
    min-width: 64px;
    height: 64px;
    border-radius: 50%;
}

.flex-1 {
    flex: auto;
}

.bg-light,
.card-header {
    background-color: #f1f3f5 !important;
}

.h-center {
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-bottom: .5rem;
}

label {
    margin-bottom: .25rem;
}